@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: sans-serif;
}
nav {
    background-color: #FCB823;
    height: 80px;
}

nav ul a {
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a.active, nav ul a:hover {
    border: 1px solid black;
    transition: .5s;
}


#logo {
    width: 50%;
}

#iconNav {
    font-size: 30px;
}

.cardInfo {
    width: 600px;
}

.imgPrincipal {
    width: 25%;
}

/* LOADER CSS-Start */
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}
.loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FCB823;
    animation: prixClipFix 2s linear infinite ;
}
.loader::after{
    border-color: black;
    animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
    inset: 6px;
}

@keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}
/* LOADER CSS-END */

@media (max-width: 1024px) {
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        background-color: white;
        text-align: center;
        transition: all .5s;
    }

    nav li {
        display: block;
        line-height: 30px;
    }

    nav ul a {
        font-size: 20px;
    }

    a.active, nav ul a:hover {
        border: none;
        color: #FCB823;
    }

    nav ul.show {
        left: 0;
    }

    .cardInfo {
        width: 100%;
    }
    
    .imgPrincipal {
        width: 100%;
    }
}

@media screen and (max-width: 767px) and (min-width: 375px) {
    
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    
}